streamlit==1.39.0
streamlit-option-menu==0.4.0
openpyxl==3.1.5
python-dotenv==0.21.0
pandas==2.0.3
requests==2.31.0
beautifulsoup4==4.12.2
selenium==4.26.1
Pillow==10.0.1
python-docx==1.1.2
docxtpl==0.18.0
openai==1.55.3
pyautogen==0.2.35
flaml[automl]==2.3.1
google-api-python-client==1.7.9
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.0
llama-parse==0.5.14