autogen-agentchat==0.4.2
autogen-ext[openai]==0.4.2
autogen-core==0.4.2
beautifulsoup4
docxtpl
docxcompose
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pydantic>=2.0,<3.0
llama-cloud
llama-cloud-services
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-index-postprocessor-flag-embedding-reranker
llama-parse
streamlit
openpyxl
openai
pandas
Pillow
python-docx
streamlit-option-menu
requests
selenium
playwright
pyppeteer
lxml
google-generativeai
pypdf2
pymupdf
gspread
rapidfuzz
oauth2client
streamlit-modal
xhtml2pdf
reportlab
supabase
#testsave17nov2025
#testsave22dec2025
#testsave14jan2026